@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Add Job</h1>

<form method="post">

    @Html.Label("Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)

    <br />
    <button class="btn btn-outline-info">Add New Job</button>
</form>